/.gradle/
/.settings/
/.project
/gradle
Generator/.classpath
Generator/.externalToolBuilders/
Generator/.project
Generator/.settings/
Generator/bin/
Parser/.classpath
Parser/.externalToolBuilders/
Parser/.project
Parser/.settings/
Shared/.classpath
Shared/.externalToolBuilders/
Shared/.project
Shared/.settings/
Shared/bin/
Simulator/.classpath
Simulator/.project
Simulator/.settings/
TrafficSimulatorService/.classpath
TrafficSimulatorService/.externalToolBuilders/
TrafficSimulatorService/.project
TrafficSimulatorService/.settings/
TrafficSimulatorService/lib/shared.jar
/build/
/gradle.properties
/bin/
